<h3>
<%=  link_to "About", welcome_about_path %>
<br>
<%=  link_to "Agendas", welcome_agendas_path %>
<br>
<%=  link_to "Calendar", welcome_calendar_path %>
<br>
<%=  link_to "Chairmen", welcome_chairmen_path %>
<br>
<%=  link_to "Contributions", welcome_contributions_path %>
<br>
<%=  link_to "Debate", welcome_debate_path %>
<br>
<%=  link_to "Developments", welcome_developments_path %>
<br>
<%=  link_to "Donations", welcome_donations_path %>
<br>
<%=  link_to "Events", welcome_events_path %>
<br>
<%=  link_to "Financials", welcome_financials_path %>
<br>
<%=  link_to "Home", welcome_home_path %>
<br>
<%=  link_to "Meetings", welcome_meetings_path %>
<br>
<%=  link_to "Mission Statement", welcome_miss_statement_path %>
<br>
<%=  link_to "Official Discussion", welcome_off_discussion_path %>
<br>
<%=  link_to "Related Media", welcome_rel_media_path %>
<br>
<%=  link_to "Votes", welcome_votes_path %>
</h3>

<h4></h4>




<h2>Want to contribute?</h2>
<p>
Donate or comment for suggested updates to this site's design (CSS/styles)
<br>
Donate or comment for suggested updates to this site's function. (eg. add a scrolling marquee of current news)
<br>
Donate or comment for suggested deep function updates to this site (eg. create users/forums)
<br>
Contribute on <%=  link_to "Github", "https://github.com/vedabrat/magneticdipoleforSS" %>! (Fork and pull; RoR, JavaScript, CSS, etc. friendly)
</p>
